{% extends 'base.html'%}
{% load static %}

{% block content %}
 <form method="POST" action="{%url 'register'%}" enctype="multipart/form-data" class="bg-light p-5 contact-form">
    <a class="navbar-brand center" href="#">Stories<span>.</span></a>
    {% csrf_token %}
    {% for field in form%}
    <div class="form-group">
        <!-- {{field.label_tag}} -->
        
        {{field}}
        {{field.errors}}
        
    </div>
    {% endfor  %}    
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary py-3 px-5">
    </div>
</form>
{%endblock%}